/* All the CSS related to answers Page*/
.answer {
  display: flex;
  flex-direction: row;
  border-bottom: #cecece 2px solid;
}

.answerText {
  width: 75%;
}

.answerAuthor {
  margin-left: 5%;
}

.answer_author {
  color: green;
}
