.question {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 10px 10px rgb(2, 119, 49, 0.5);
  max-height: 130px;
}

.postStats {
  color: #74c476;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.question_mid {
  width: 60%;
}

.postTitle {
  color: #006d2c;
  font-size: large;
  margin-left: 10px;
}

.question_tags {
  margin-top: 1%;
  flex-direction: row;
  width: auto;
  display: flex;
}

.question_tag_button {
  color: #ffffff;
  background: #74c476;
  border-width: 0;
  border-radius: 8px;
  margin-left: 2%;
  padding: 5% 10% 5% 10%;
}

.question_tag_button:first-child {
  margin-left: 0;
}

.lastActivity {
  display: flex;
  flex-direction: row;
}

.metrics {
  display: flex;
  width: 20vw;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.question_author {
  color: #006d2c;
}

.question_meta {
  color: #797979;
}

.question .collections-btn {
  background-color: #31a354;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 5px;
  font-size: 14px;
  margin-right: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  max-height: 50px;
}

.question .collections-btn:hover {
  background-color: darkblue;
}
