#user_search_bar {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: auto;
  height: 2rem;
}

.bold_title {
  font-weight: bold;
  white-space: nowrap;
  color: #006d2c;
}

.users-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5vw;
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  width: 75vw;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.user-count {
  color: #006d2c;
}
