.community-page {
  padding: 2rem;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.community-title {
  font-size: 2rem;
  color: #006d2c !important;
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}

.community-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(161, 217, 155, 0.8);
  border-radius: 20px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  gap: 1rem;
  padding-right: 50px;
}

.community-search {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left: 50px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.communities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.community-error {
  color: red;
  margin-top: 1rem;
}
