.collections-page {
  padding: 2rem;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.collections-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 20px;
  background-color: white;
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

.collections-title {
  font-size: 2rem;
  color: #006d2c !important;
}

.collections-create-btn {
  background-color: #006d2c;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.collections-create-btn:hover {
  background-color: #01471d;
}

.collections-create-btn:active {
  background-color: #01471d;
}

.collections-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.collection-card {
  background-color: #fff;
  padding: 1rem 1.25rem; /* Reduced vertical + horizontal padding */
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 109, 44, 0.5);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.collection-card:hover {
  box-shadow: 0 10px 10px rgba(0, 109, 44, 0.2);
}

.collection-name {
  font-size: 1.15rem; /* Slightly smaller */
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.collection-description {
  margin-bottom: 0.3rem;
  color: #555;
  font-size: 0.95rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  line-clamp: 2;
  box-orient: vertical;

  overflow: hidden;
}

.collection-privacy,
.collection-questions {
  font-size: 0.85rem;
  color: #666;
  margin: 0.1rem 0;
}

.collections-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
