.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 2% 0 2% 0;
  align-items: center;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 0 10px -8px #31a354;

  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu_button:first-child {
  margin-top: 0;
}

.menu_button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: #31a354;
  text-decoration: none;
}

.menu_selected {
  background: #006d2c;
  color: white;
}

.additional-options {
  display: flex;
  flex-direction: column;
  padding: 4% 0 4% 0;
  align-items: center;
}

.message-options {
  width: max-content;
}

.message-option-selected {
  background: #74c278;
  color: white;
  width: 110%;
}
