.new-job_posting-page {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.new-job_posting-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #1e293b;
}

.new-job_posting-input {
  display: block;
  width: 95%;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background-color: #fff;
}

.new-job_posting-input:focus {
  outline: none;
  border-color: #006d2c;
  box-shadow: 0 0 0 2px rgba(0, 109, 44, 0.2);
}

.new-job_posting-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #334155;
}

.new-job_posting-btn {
  background-color: #006d2c;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.new-job_posting-btn:hover {
  background-color: #01471d;
}

.new-job_posting-btn:active {
  background-color: #006d2c;
}

.new-job_posting-type-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  margin-bottom: 3px;
}

.new-job_posting-type-btn:hover {
  background-color: #01471d;
}

.new-job_posting-type-btn.active {
  background-color: #006d2c;
  color: white;
}

.new-job_posting-type-btn.disabled {
  background-color: #74c476;
  color: black;
}

.new-job_posting-error {
  color: #dc2626;
  margin-top: 1rem;
}
