.main {
  display: flex;
  flex-direction: row;
  height: 90%;
  background: #edf8e9;
}

.right_main {
  width: 85%;
  overflow: auto;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.right_padding {
  padding: 2% 0 2% 2%;
}

.bold_title {
  font-size: 24px;
  font-weight: 800;
  line-height: 40px;
}

.bluebtn {
  background: #006d2c;
  color: #ffffff;
  border: #006d2c;
  font-size: 20px;
  padding: 12px 12px 12px 12px;
  margin-right: 5%;
  border-radius: 10px;
}

.bluebtn:hover {
  background: #01471d;
}

.btn_indicator_container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will push child elements to the extremes of the container */
  width: 100%;
}

.form_postBtn {
  background: #31a354;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mandatory_indicator {
  font-size: 0.8rem;
  color: red;
  margin-top: 10px;
}
