.user {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0px 5px 5px rgba(0, 109, 44, 0.4);
}

.userStats {
  color: #bbbbbb;
  text-align: right;
  width: 30%;
}

.user_mid {
  margin-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
}

.userUsername {
  color: #31a354;
  cursor: pointer;
}
